.page {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
}
.headerButton {
  height: 40px;
  border-radius: 15%;
  margin: 5px 0;
  background-color: #4B4137;
  font-family: 'CastlemarRegular', serif;
  font-size: 25px;
  color: black;
}
.headerButton:hover {
  background-color: #4B5137;
}
.checkButton {
  width: 20%;
  height: 40px;
  border-radius: 15%;
  border: 3px solid #4B4137;
  margin-top: 5px;
  margin-bottom: 3px;
  background-color: #96857B;
  font-family: 'CastlemarRegular', serif;
  font-size: 30px;
  color: #4B4137;
}
.checkButton:hover:not([disabled]) {
  background-color: white;
}
.checkButton:disabled {
  color: darkgray;
  border: 1px solid darkgray;
}
.results {
  border: 2px solid #4B4137;
  min-height: 600px;
}
.resultsText {
  font-size: 30px;
  margin: 10px;
  padding: 0;
}
