.startPage {
  text-align: center;
  font-style: normal;
}
.startPageLogo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .startPageLogo {
      animation: App-logo-float infinite 3s ease-in-out;
  }
}
.startPageHeader {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
@keyframes App-logo-float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0px);
  }
}
.button {
  font-family: CastlemarRegular, serif;
  appearance: none;
  font-size: 55px;
  padding: 10px;
  border-radius: 8px;
  color: var(--bright-gold);
  cursor: pointer;
  background: radial-gradient(circle, #8b0000, #8b0000);
  transition: all 0.15s;
  border-top: 4px ridge var(--bright-gold);
  border-left: 4px groove var(--bright-gold);
  border-right: 4px ridge var(--bright-gold);
  border-bottom: 4px groove var(--bright-gold);
  box-shadow: var(--shadow);
}
.button:hover,
.button:focus {
  border: 2px solid var(--bright-gold);
}
.button:active {
  background-color: var(--bright-gold);
}
