body {
  margin: 0;
  font-family: 'CastlemarRegular', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #805D41;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'CastlemarRegular';
  src: local('CastlemarRegular'), url(./fonts/CastlemarRegular/CastlemarRegular.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
